.user-card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;

  .user-photo {
    display: block;
    height: 70px;
    border-radius: 50%;
  }
}

.line-clamp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 32px - 40px);
}

@media (min-width: 768px) {
  .line-clamp {
    max-width: calc((704px - 16px - 20px * 4) / 2);
  }
}

@media (min-width: 1024px) {
  .line-clamp {
    max-width: calc((904px - 29px * 2 - 20px * 6) / 3);
  }
}

@media (min-width: 2560px) {
  .line-clamp {
    max-width: calc((1168px - 29px * 2 - 20px * 6) / 3);
  }
}
