// styles for all document

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 360px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 904px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 2560px) {
  .container {
    width: 1168px;
  }
}
